In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("Titanic-Dataset (1).csv")
df['Age'] = df['Age'].fillna(df['Age'].median())                    
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])    
df = df.drop('Cabin', axis=1)       
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])
df = df.drop(['Name', 'Ticket', 'PassengerId'], axis=1)
print(df)

     Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked_Q  \
0           0       3    0 -0.565736      1      0 -0.502445       False
1           1       1    1  0.663861      1      0  0.786845       False
2           1       3    1 -0.258337      0      0 -0.488854       False
3           1       1    1  0.433312      1      0  0.420730       False
4           0       3    0  0.433312      0      0 -0.486337       False
..        ...     ...  ...       ...    ...    ...       ...         ...
886         0       2    0 -0.181487      0      0 -0.386671       False
887         1       1    1 -0.796286      0      0 -0.044381       False
888         0       3    1 -0.104637      1      2 -0.176263       False
889         1       1    0 -0.258337      0      0 -0.044381       False
890         0       3    0  0.202762      0      0 -0.492378        True

     Embarked_S
0          True
1         False
2          True
3          True
4          True
..          ...
886        True
887        True
888        True
889       False
890       False

[891 rows x 9 columns]